{% load static %}
<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href='{% static "css/style.css" %}'>
    <title>Document</title>
</head>
<body>
    <div id="header">
        <img id="logo" src="{% static 'img/logo.svg' %}" >
    </div>
    <div id="main-container" class="gap-4">
        <div id="modal-window" class="hidden">
            <div style="top: 0; right: 0; bottom: 0; left: 0; background-color: rgb(107 114 128); position: fixed; z-index: 10; opacity: 50%;"></div>
            <div style="height: 100%; width: 100%; position: fixed; top: 0; right: 0; left: 0; z-index: 20; display: flex; align-items: center; justify-content: center;">
                <div id="modal-window-content" style="background-color: white; border-radius: 1rem; width: 40rem; height: 10rem; padding: 2rem;">
                    <p class="text-8 mb-6" style="text-align: center;">Обращение успешно создано</p>
                    <p class="mb-8 text-5" style="text-align: center;">Спасибо за ваше обращение! Мы свяжемся с вами в ближайшее время.</p>
                    <div style="display: flex; align-items: center; justify-content: center;">
                        <button type="button" id="notification-model-window-close-button" class="text-6">OK</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="relative">
            <div id="new-appeal">
                <form id="send-appeal-form">
                    <div class="flex-items-center justify-between">
                        <div class="mb-4 mr-4">
                            <label for="user-name" class="text-grey text-5 mb-1 block">ФИО</label>
                            <input type="text" id="user-name" class="input-field" name="fullname">
                        </div>
                        <div class="mb-4">
                            <label for="skype" class="text-grey text-5 mb-1 block">Skype</label>
                            <input type="text" id="skype" class="input-field" name="skype">
                        </div>
                    </div>
                    <div class="mb-4">
                        <label for="appeal-content" class="text-grey text-5 mb-1 block">Ваш вопрос</label>
                        <textarea id="appeal-content" name="appeal-content" rows="3"></textarea>
                    </div>
                    <button type="submit" id="send-button">Отправить</button>
                </form>
            </div>
        </div>
    </div>
    <script src="{% static 'js/utils.js' %}"></script>
    <script src="{% static 'js/api.js' %}"></script>
    <script src="{% static 'js/main-page.js' %}"></script>
</body>
</html>

<!--TODO-->